* {
    background-color: cornflowerblue;
}

.dashboard {
    display:flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 50px;
}

.container {
    display:grid;
    margin: 20px 50px;
    height: 400px;
    width: 400px;
}

.blank {
    background-color: white;
    border: 1px solid black;
}

.mark {
    background-color: black;
    border: 1px solid white;
}

.colors {
    border: 1px solid black;
    background-color: green;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content:space-between;
    margin: 20px 0px;
    
}

button {
    height: 80px;
    width: 160px;
    border-radius: 10px;
    background-color: lightgray;
    font-size: 25px;
    font-weight: bolder;
}
